# Remplacment NaN : average of category
Created by: Thomas Durand-Texte, Jan. 2023

# Import des packages

In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [25]:
df = pd.DataFrame( { 'a': [10, 20, np.NaN, np.NaN],
                'b': [5, np.NaN, np.NaN, 29],
                'c': [15, np.NaN, np.NaN, 11],
                'd': [21, 22, 23, 25],
                'category': ['A', 'D', 'A', 'D']} )
display( df )

      a     b     c   d category
0  10.0   5.0  15.0  21        A
1  20.0   NaN   NaN  22        D
2   NaN   NaN   NaN  23        A
3   NaN  29.0  11.0  25        D

In [26]:
groups = df.groupby( 'category' )
# for group in groups:
#     display( group )
groups.mean()
# groups['A'].transform('mean')

             a     b     c     d
category
A         10.0   5.0  15.0  22.0
D         20.0  29.0  11.0  23.5

In [31]:
df.fillna( groups.transform('mean') )

      a     b     c   d category
0  10.0   5.0  15.0  21        A
1  20.0  29.0  11.0  22        D
2  10.0   5.0  15.0  23        A
3  20.0  29.0  11.0  25        D